<!doctype html>

  <form id="post-form"
    <input class='blog-title name='title' type='text' placeholder='{{title}}' />
    <textarea class='blog-body' name='body'></textarea>
    <div class="button">
      <button type="submit">Submit Post</button>
    </div>

/*
    <div>
      <label for = "title">
        <span> {{title}} </span>
        <input type="text" id="title"/>
      </label>
    </div>

    <div>
      <label for ="body">
        <span>{{body}}</span>
        <input type="text" id="body"/>
      </label>
    </div>

    <div class="button">
      <button type="submit">Submit Post</button>
    </div>
*/
  </form>
